body{
    background-color: gray;
}
h1{
    color: rgb(0, 0, 0);
    padding-top: 5%;
}
main,h1{
    text-align: center; margin: auto; width: 80%; font-size: 150%;
 }
 p{
     color: black;
 }
 h2{
     padding-top: 5vw;
     color: rgb(0, 0, 0);
     text-align: center;
 }
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #e7e7e7;
    background-color: #1a4088;
    position: fixed;
    top: 0;
    width: 100%;
}
li a{
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}
li{
    display: inline;
     float: left;
 }
 li a:hover{
    background-color: #111;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
    .game {
    width: 500px;
    height: 200px;
    background-color: #eee;
    position: relative;
    }   
  
  .game-over {
    display: none;
  }
  
  .dinosaur {
    width: 50px;
    height: 50px;
    background-color: #333;
    position: absolute;
    bottom: 0;
    left: 50px;
  }
  .obstacle {
    width: 20px;
    height: 50px;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 50vw;
    animation: moveLeft 2s linear infinite;
  }
  
  @keyframes moveLeft {
    0% {
      left: 50vw;
    }
    100% {
      left: -5vw;
    }
  }
  
  @keyframes jump {
    0% {
      bottom: 0;
    }
    50% {
      bottom: 150px;
    }
    100% {
      bottom: 0;
    }
  }
  